:root {
  --main-bg-color: #fff9a5;
  --console-color: #5c67ff;
  --button-color: #e18335;
  --snake-color: cadetblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg-color);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: var(--console-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 0.7rem solid var(--console-color);
  border-style: outset;
  border-radius: 0.4rem;
  padding: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Game Board styles */
.gameBoard {
  background-color: #fff;

  display: flex;
  flex-wrap: wrap;
  width: 40rem;
  height: 40rem;
  border: 0.4rem solid var(--console-color);
  border-style: inset;
  margin-right: 2rem;
}

.gameBoard div {
  width: 10%;
  height: 10%;
}

.snake {
  background-color: var(--snake-color);
}

.fruit {
  background-color: #ffa500;
}

/* Toolbar styles (including Button styles) */

.toolBar {
  height: 40rem;
  text-align: center;
  justify-content: space-between;
}

button {
  background-color: var(--button-color);
  color: #fff;
  font-size: 2rem;
  border: 0.3rem solid var(--button-color);
  border-style: outset;
  margin-bottom: 2rem;
  height: 7.5rem;
  width: 15rem;
}

button:hover {
  background-color: #e4914e;
}

button:active {
  /* transform: scale(0.97); */
  border-style: inset;
}

.toolBar p {
  margin: 2rem 0;
  font-size: 1.8rem;
}

.resetPBButton {
  font-size: 1.6rem;
  padding: 0.5rem;
  margin: 0;
  height: 4rem;
  width: 10rem;
}
